// .map-wrap {
//   background: rgba(8, 253, 216, 0.1);
//   float: right;
//   width: 53%;
//   height: 115%;
//   margin-top: -3%;
// }

// .leaflet-container {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   animation: backInRight 1s 1.2s;
//   animation-fill-mode: forwards;
// }

// .info-map {
//   position: absolute;
//   background: #000;
//   top: 50px;
//   right: 30%;
//   z-index: 999999;
//   width: 267px;
//   padding: 20px;
//   color: #fff;
//   font-family: 'Helvetica';
//   font-size: 17px;
//   font-weight: 300;
//   // opacity: 0;
//   // animation: fadeIn 1s 1.5s;
//   // animation-fill-mode: forwards;

//   span {
//     font-size: 16px;
//       color: #ffd700 !important;
//   }
// }

@media screen and (max-width: 1200px) {
  .map-container{
    height: 400px !important;
    margin: 2rem 0;
  }

  // .info-map {
  //   display: none;
  // }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-field {
  padding: 0.7rem;
}

.name-email-fields {
  width: 100%;
  display: flex;
  gap: 8px;
}

.map-container{
  width: 100%;
  height: 100vh;
}
